*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
    padding-top: 0.25rem;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav-left{
    display: flex;
    align-items: center;
}
.nav-left i{
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0.5rem;
}
.nav-left i:nth-child(2){
    font-size: 2rem;
    color: red;
}
.nav-left p{
    font-weight: 700;
    font-size: 1.1rem;
}

.nav-middle{
    width: 42vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Form of search-bar */
.search-bar{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="text"]{
    width: 95%;
    height: 6vh;
    background-color: transparent;
    border: 1.5px solid rgba(82, 79, 79, 0.734);
    border-top-left-radius: 1.1rem;
    border-bottom-left-radius: 1.1rem;
    padding: 1rem;
}
.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 6vh;
    font-size: 1.35rem;
    background-color: rgba(82, 79, 79, 0.734);
    border-top-right-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    cursor: pointer;
}
.micro-icon{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.35rem;
    background-color: rgba(82, 79, 79, 0.734);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.nav-right{
    width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /* font-size: 1.35rem; */
}
.create{
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    font-weight: 500;
    background-color: rgba(82, 79, 79, 0.734);
    cursor: pointer;
}
.nav-right i:nth-child(2){
    cursor: pointer;
    font-size: 1.3rem;
}
.nav-right i:last-child{
    cursor: pointer;
    font-size: 2.1rem;
}


main{
    display: flex;
    width: 100vw;
}

.left-menu{
    width: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.9em;
    gap: 1.5rem;
}
.left-menu i{
    font-size: 1.5rem;
}
.left-menu p{
    font-size: 0.7rem;
}
.left-menu div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem
}

.main-content{
    width: 95%;
}

.main-top{
    width: 100%;
    margin-top: 0.6rem;
    overflow: auto;
    white-space: nowrap;
}
/* Learn Form the net how to hide the scroll bar  */
.main-top::-webkit-scrollbar {
    display: none;
}
.main-top p{
    display: inline-block;
    padding: 0.7rem;
    margin: 0.19rem;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 1rem;
    background-color: rgba(82, 79, 79, 0.493);
}

.main-bootom{
    margin-top: 1rem;
    width: 100%;
    display: grid;
    row-gap: 3rem;
    column-gap: 0.5rem;
    grid-template-columns: repeat(4,1fr);
}
iframe{
    border: none;
    border-radius: 10px;
    width: 21rem;
    height: 12rem;
}
.main-bootom > div{
    padding: 0.18rem;
    margin-right: 1rem;
}
.main-bootom > div :last-child{
    color: rgba(255, 255, 255, 0.682);
}